body, html {
	-webkit-font-smoothing: antialiased;
	width: 100% !important;
	height: 100% !important;
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: url("../img/library-view.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background: linear-gradient(#fff,#fff)
	color:#ccc;
}

h1 {
	color:#ccc;
	font-size: 72pt;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
	padding: 5rem 6rem;
	height: 100%;
	display: block;
}
