html, body {
	scroll-behavior: smooth;
	margin: 0 !important;
	padding: 0 !important;
	border: none;
}

div {
	border-color: green;
	border-width: 10px;
	border-style: solid;
}

header {
	width: 100%;
	position: fixed;
}

.navbar {
	display: flex;
}

.brand {
	color: #fff;
}

ul {
	list-style: none;
}

li {
	display: inline;
}

li a {
	border-color: #fff;
	border-width: 2px;
	border-style: solid;
	color: #fff;
	text-decoration: none;
}

li a:hover {
	color: #000;
	background: #fff;
	text-decoration: none;
}

#home {
	height: 100vh;
	background: url("../img/library-view.jpg");
	background-size: cover;
	background-position: center;
	text-align: center !important;
}

#about {
	height: 100vh;
}

#hobbies {
	height: 100vh;
}


h1 {
	font-size: 5rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #ccc;
}

h2 {
	font-size: 2rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #ccc;
}
