body, html {
	width: 100% !important;
	height: 100% !important;
	margin: 0 0;
	padding: 0 0;
}

html {
	scroll-behavior: smooth;
}

body {
	color: #ccc;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
	display: block;
	position: fixed;
}

h1 {
	font-size: 5rem;
}

#home {
	height: 100%;
	background: url("../img/library-view.jpg");
	background-size: cover;
	background-position: center;
}

#about {
	background: linear-gradient(to bottom, #00014d5e, #01004e00);
	display: block;
	height: 100%;
}

#hobbies {
	background: ;
	display: block;
	height: 100%;
}