body, html {
	-webkit-font-smoothing: antialiased;
	width: 100% !important;
	height: 100% !important;
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: url("../img/library-view.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color:#ccc;
}